[MESSAGES CONTROL]
disable = missing-function-docstring,
        missing-module-docstring,
        missing-class-docstring,
        import-outside-toplevel,
        attribute-defined-outside-init,
        line-too-long,
        invalid-str-returned,
        no-member,
        invalid-name,
        redefined-outer-name,
        unrecognized-option,
        consider-using-f-string,
        raise-missing-from,

[MASTER]
auto-import = 0